<div class="row">
        <div class="col-md-3">

<h2>Recent ratings</h2>

<ul>
 <% @recent_ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to User.find_by(id:(rating.user)).username, rating.user %>  </li>
 <% end %>
</ul>
	</div>
        <div class="col-md-3">

<h2>Top beers</h2>

		<%= render 'list', objects: @top_beers %>
	</div>
        <div class="col-md-3">

<h2>Top breweries</h2>

		<%= render 'list', objects: @top_breweries %>
	</div>
</div>

<div class="row">
        <div class="col-md-7">


<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to User.find_by(id:(rating.user)).username, rating.user %>  </li>
 <% end %>
</ul>
<p><%= @ratings.count %> ratings</p>
	</div>
        <div class="col-md-5">
<h2>Most active users</h2>
		<%= render 'list', objects: @top_users %>
	</div>
</div>

<%= link_to 'create new rating', new_rating_path, class:'btn btn-primary' %>

