<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navi">
<%= link_to 'Breweries', breweries_path %>
<%= link_to 'Beers', beers_path %>
<%= link_to 'Ratings', ratings_path %>
<%= link_to 'Users', users_path %>
|
<% if not current_user.nil? %>
  Signed in as <%= link_to current_user.username, user_path(current_user.id) %>
|
  <%= link_to 'Signout', signout_path, method: :delete %>
|
 <%= link_to 'Rate a beer', new_rating_path %>
<% else %>
  <%= link_to 'Signin', signin_path %>
|
  <%= link_to 'Signup', signup_path %>
<% end %>
|
<% if session[:last_rating].nil? %>
  no ratings given
<% else %>
 <i> previous rating: <%= session[:last_rating] %> </i>
<% end %>
</div>
<%= yield %>

</body>
</html>
